/* Default mode is light mode. */
:root{
	
	--main-background-color: #ffffff;
	--main-foreground-color: rgba(60, 60, 67);
	--link-color: #3451b2;
	--container-background-color: rgba(128, 128, 128, 0.05);
	--container-tip-color: rgb(66, 211, 146);
	--container-warning-color: #c90;
	--container-exercise-color: rgb(0, 105, 186);
	--code-background-color: rgba(122, 142, 162, 0.16);
	
}

*{
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--main-background-color);
}

hr{
	width: 10%;
	margin-left: 45%
}

*:first-child {
	margin-top: 0;
}

*:last-child {
	margin-bottom: 0;
}

h1{
	margin-bottom: 0.25em;
}
h2{
	margin-bottom: 0.2em;
	margin-left: 0.5em;
}
h3{
	margin-left: 0.9em;
}
p{
	margin-top: 0.25em;
	margin-left: 1.5em;
}

a{
	color: var(--link-color);
}

a[target="_blank"]::after {
	content: "↗";
	display: inline-block;
	height: 6px;
	aspect-ratio: 1;
	font-size: 4.5px;
	vertical-align: top;
	margin-left: 0.2em;
	text-align: center;
	border: 1px solid var(--link-color);
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

code:not(pre code){
	background-color: var(--code-background-color);
	border-radius: 4px;
	padding: 2px 4px;
	white-space: nowrap;
}

.remark-container {
	padding: 1em;
	border-radius: 0.5em;
	margin: 1em 2em;
	background-color: var(--container-background-color);
}

.remark-container p {
	margin: 0;
	margin-bottom: 0.75em;
	padding-left: 1em;
}

main > table{
	margin: 1em auto;
	text-align: center;
}

@media (max-width: 50em) {
	
	.remark-container {
		margin-left: 0;
		margin-right: 0;
		padding: 0.5em;
	}
	
	.remark-container p {
		padding-left: 0.5em;
	}
	
}

.remark-container__title {
	font-weight: bold;
	margin-bottom: 0.5em;
}

.remark-container.tip {
	color: var(--container-tip-color);
	border: 1px solid var(--container-tip-color);
}

.remark-container.warning {
	color: var(--container-warning-color);
	border: 1px solid var(--container-warning-color);
}

.remark-container.exercise {
	color: var(--container-exercise-color);
	border: 1px solid var(--container-exercise-color);
}

ul, ol {
	margin-left: 0.75em;
}